.FooterImage {
    background-image: url("https://i.ibb.co/kqsjgt8/Rectangle-549.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
   bottom: 0;
   width: 100%;
   
}

.footertext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

@media(max-width: 600px) {
    .footertext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-evenly;
    }
    .FooterImage {
        background-image: url("https://i.ibb.co/kqsjgt8/Rectangle-549.png");
        background-repeat: no-repeat;
        background-size: cover;
        position:static;
        left: 0;
       bottom: 0;
       width: 100%;
    }
}